- var formatter = new Intl.NumberFormat("ru", {style: "currency", currency: "RUB", minimumFractionDigits: 2});

.document
  input(type="checkbox" id=i.date class="document-check")
  label(for=i.date class="document-mark")
    .document-header
      p=i.date
      p Документов: #[span=i.documentQuantity] (#[span=formatter.format(i.documentSum)])
  .hidden
    for o in i.dateOperations 
      .operation
        p #[span=o.operationName] № #[span=o.operationNum]
        p #[span=formatter.format(o.operationSum)]
      input(type="checkbox" id=(o.operationNum) class="products-check")
      label(for=(o.operationNum) class="product-mark") Товаров: #[span=o.operationProducts.length]
        div(class="products hidden")
          for p in o.operationProducts
            .product-wrapper
              .image-wrapper
                if p.image
                  img(src=p.image onerror="src='https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg'")
                else 
                  img(src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg")
              .product-name-wrapper
                .product-name=p.name
                .product-sum
                  p #[span=p.quantity] шт х #[span=formatter.format(p.price)]
                  p #[span=formatter.format(p.quantity*p.price)]
