- var rating = [5,4,3,2,1]

mixin rate_button(rb_name)
	.rating
		each star in rating
			input(type="radio" name=`${rb_name}` id=`${rb_name}-rating-${star}`)
			label(for=`${rb_name}-rating-${star}`)
